.review-item {
    width: 571px;
    border: 1px solid #95a0a7;
    border-radius: 8px;
    margin-bottom: 25px;
    padding: 8px 25px 8px 8px;
    display: flex;
    align-items: center;
}

.review-item img {
    width: 91px;
    height: 91px;
    border-radius: 6px;
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.review-item p {
    color: #1C2B35;
    margin: 0px 15px;
}

.review-details {
    flex-grow: 1;
}

.delete-btn {
    width: 55px;
    height: 55px;
    background-color: rgba(235, 87, 87, 0.3);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-icon {
    color: #EB5757;
    font-size: 24px;
}

.text-orange {
    color: #FF9900;
}